@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-card: var(--card);
}

html {
  scroll-behavior: smooth;
}


:root {
  /* Default to Dark Mode */
  --background: #0F172A;
  /* Slate 950 */
  --foreground: #F8FAFC;
  /* Slate 50 */

  --primary: #38BDF8;
  /* Sky 400 */
  --secondary: #818CF8;
  /* Indigo 400 */
  --accent: #F472B6;
  /* Pink 400 */

  --muted: #94A3B8;
  /* Slate 400 */
  --card: #1E293B;
  /* Slate 900 */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #F8FAFC;
    --foreground: #0F172A;
    --primary: #0284C7;
    --secondary: #4F46E5;
    --accent: #DB2777;
    --muted: #64748B;
    --card: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.font-heading {
  font-family: var(--font-heading);
}